.lun{
    position: relative;
    margin-top: 20vh;
    margin: 30px;
    font-size: 30px;
    padding: 60px;
}
.sik{
    position: relative;
    margin: 30px;
    font-size: 30px;
    padding: 60px;
}

.lunde{
    margin:40px;
    display: flex;
}
.lunde div{
    margin: 20px;
}
.skide{
    margin: 40px;
    display: flex;
}
.skide div{
    margin: 20px;
}
footer{
    padding: 20px;
}
@media (max-width:650px){
    .lunde{
        display: block;
    }
    .skide{
        display: block;
    }
}